# Python Caches
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Environments
venv/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
nltk_data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Large/Local files
*.log
*.pot
*.pyg
