# Common Dependencies
numpy<2.0.0
opencv-python-headless
mediapipe==0.10.9

# FastAPI Backend
fastapi
uvicorn
websockets

# Django Frontend
django>=3.0.4
nltk
gunicorn
whitenoise
asgiref
sqlparse
joblib
regex
tqdm
